.bottbar {
  width: 100%;
  height: 30px; /* set a fixed height */
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  background-color: #f8f6f6; /* light gray background */
  color: #555;             /* subtle text color */
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}